@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;400;500;600;700;800&display=swap');

html.md,
html.ios {
  --ion-default-font: 'Albert Sans', 'Helvetica Neue', sans-serif !important;
  --ion-background-color: #121212;
}

.text-white {
  color: #fff;
}

ion-button {
  text-transform: capitalize;
  --border-radius: 10px;
  --box-shadow: none;
}

.primary-text {
  color: #82ccdd;
}

/* Text styles */
.text-xs {
  font-size: 0.75rem;
}

.text-sm {
  font-size: 0.875rem;
}

.white-text {
  color: white !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mt-sm {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}
