@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;400;500;600;700;800&display=swap');

html.md,
html.ios {
  --ion-default-font: 'Albert Sans', 'Helvetica Neue', sans-serif !important;
  --ion-background-color: #121212;
}

.text-white {
  color: #fff;
}

ion-button {
  text-transform: capitalize;
  --border-radius: 10px;
  --box-shadow: none;
}

.primary-text {
  color: #82ccdd;
}
